<form>
  <div>
    <label for="txtTitolo">Titolo</label>
    <input type="text" id="txtTitolo"
	       required [(ngModel)]="model.titolo" name="titolo">
  </div>
  <div>
    <label for="txtAutore">Autore</label>
    <input type="text" id="txtAutore"
	       required [(ngModel)]="model.autore" name="autore">
  </div>
  <div>
    <label for="txtTesto">Testo</label>
    <textarea id="txtTesto"
	          required [(ngModel)]="model.testo" name="testo"></textarea>
  </div>
  <button type="button" (click)="confirmData()">Invia</button>
</form>
titolo: {{model.titolo | truncate: 10}}<br/>
autore: {{model.autore}}<br/>
testo: {{model.testo}}<br/>
