<form [formGroup]="myForm">
  <div>
    <label for="txtTitolo">Titolo</label>
    <input type="text" formControlName="txtTitolo">
    <span [hidden]="myForm.controls.txtTitolo.valid || myForm.controls.txtTitolo.pristine">Il titolo è obbligatorio e non può superare i 30 caratteri!</span>
  </div>
  <div>
    <label for="txtAutore">Autore</label>
    <input type="text" formControlName="txtAutore">
  </div>
  <div>
    <label for="txtTesto">Testo</label>
    <textarea formControlName="txtTesto"></textarea>
  </div>
  <button type="button" (click)="visualizzaArticolo()">Invia</button>
</form>
